/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


    

#section1 {
    background-color:black;
    color:white;
    text-align:center;
   padding:5px
}

#section2 {
    line-height:30px;
    background-color:#eeeeee;
    height:500px;
    width:200px;
   float:left;
   padding:5px;	 	
}

#section3 {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

#section4 {
     float:right;
     height:500px;
     width:400px;
    
}


